/* add your CSS here */

body {
	margin: 8px;
	width: 340px;
}

.container, .fish-info {
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 16px;
	border-style: solid;
}

.fish-name {
	font-weight: bold;
	text- 
}

.fish-img {
	width: 300px;
	height: 200px;
}

.fish-info-unqique {
	text-align: justify;
	font-style: italic;
}

.fish-info-detail {
	list-style: none;
}

li>span {
	font-weight: bold;
}

.fish-info-description{
	text-align: justify;
}